.main_banner {
  height: 296px;
}

.main_nav {
  height: 40px;
  background: #4180FF;
}

.main_nav .wrapper {
  width: 1200px;
  height: 40px;
  margin: 0 auto;

  ul {
    li {
      float: left;
      line-height: 40px;

      a {
        display: inline-block;
        color: white;
        font-weight: 800;
        padding: 0 35px;
        font-size: 14px;
      }

      a:hover {
        color: #22FBB5;
        background-color: #0532FE;
      }
    }

    li:nth-child(2) a {
      color: #22FBB5;
      background-color: #0532FE;

    }
  }

}

.main_body {
  margin-top: 20px;
  margin-bottom: 20px;

  .wrapper {
    width: 1200px;
    margin: 0 auto;

    .position {
      color: #999999;

      span {
        color: black;
        vertical-align: middle;
      }

      .position_font {
        font-weight: 800;
      }
    }

    .banner_top {
      margin-top: 20px;
      margin-bottom: 30px;

      .banner {
        img {
          transition: transform .5s ease-out;
          width: 100%;
          height: 100%;
        }

        img:hover {
          transform: scale(1.03);
        }

        .left {
          a {
            position: relative;
            display: inline-block;
            width: 598px;
            height: 337px;
            overflow: hidden;

            .video {
              display: block;
              position: absolute;
              left: 20px;
              bottom: 70px;
              z-index: 9;
              width: 46px;
              height: 46px;
              background-image: url(http://image.bitautoimg.com/yc-pc/expo-pc/special/ico-video.png);
            }



            .txt {
              position: absolute;
              bottom: 0;
              color: #fff;
              width: 100%;
              background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .69));
              text-align: left;
              font-size: 20px;
              font-weight: 700;
              height: 60px;
              line-height: 60px;
              padding-left: 20px;
            }
          }

          a:hover {
            .video {
              background: url(http://image.bitautoimg.com/yc-pc/expo-pc/special/icon-video-hover.png) 0 0 no-repeat
            }
          }
        }

        .right {
          width: 598px;
          height: 337px;

          a {
            position: relative;
            float: left;
            margin-right: 5px;
            margin-bottom: 5px;
            overflow: hidden;
            display: inline-block;
            width: 294px;
            height: 166px;

            .video {
              display: block;
              position: absolute;
              left: 20px;
              bottom: 40px;
              z-index: 9;
              width: 46px;
              height: 46px;
              background-image: url(http://image.bitautoimg.com/yc-pc/expo-pc/special/ico-video.png);
            }



            .txt {
              position: absolute;
              bottom: 0;
              color: #fff;
              width: 100%;
              background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .69));
              text-align: left;
              font-size: 16px;
              font-weight: 700;
              height: 40px;
              line-height: 40px;
              padding-left: 20px;
            }
          }

          a:hover {
            .video {
              background: url(http://image.bitautoimg.com/yc-pc/expo-pc/special/icon-video-hover.png) 0 0 no-repeat
            }
          }
        }
      }
    }

    .main_row_box {
      margin-top: 30px;

      .col_left_box {
        width: 840px;
        float: left;

        .tabbox {
          ul {
            list-style: none;
            display: table;
            border-bottom: 2px solid #E1E1E1;
            width: 840px;

            li {
              float: left;
              line-height: 50px;
              margin-right: 40px;
              font-size: 24px;
              color: #333333;
              cursor: pointer;
            }

            li.active {
              color: #FF4B3B;
              font-weight: bold;
              border-bottom: 2px solid #ff4b3b;
              margin-bottom: -2px;
            }
          }

          .main_card {
            .live_box_tab {
              position: relative;
              border-left: 1px dashed #3377FF;
              padding-left: 10px;
            }

            .live_box_tab:last-child {
              margin-bottom: 30px;
            }

            .time_ball {
              position: absolute;
              left: -4px;
              top: 10px;
              width: 7px;
              height: 7px;
              background: #3377FF;
              border-radius: 50%;

              .time_line {
                height: 550px;
                border-left: 1px dashed #3377FF;
                position: absolute;
                left: 3px;
                top: -10px;
              }
            }
          }

          .main_card>div {
            margin-top: 10px;


            .time_axis {
              width: 71px;
              height: 26px;
              background: rgba(51, 119, 255, 0.10);
              border-radius: 3px;
              margin-bottom: 15px;

              .time_axis_txt {
                font-size: 14px;
                color: #3377FF;
                letter-spacing: 0;
                line-height: 26px;
                text-align: center;
                height: 26px;
              }
            }

            .clear {
              clear: both;
            }

            .card_list {
              position: relative;
              float: left;
              width: 270px;
              height: 243px;
              margin: 0 8px 30px 0;
              background-color: #fff;
              box-sizing: border-box;

              .card_img {
                width: 270px;
                height: 152px;
                display: inline-block;
                position: relative;

                img {
                  width: 270px;
                  height: 152px;
                }

                .video {
                  position: absolute;
                  left: 10px;
                  bottom: 10px;
                  width: 46px;
                  height: 46px;
                  background-image: url(http://image.bitautoimg.com/yc-pc/expo-pc/special/ico-video.png);
                }

                .video:hover {
                  background: url(http://image.bitautoimg.com/yc-pc/expo-pc/special/icon-video-hover.png) 0 0 no-repeat
                }

                .live_broadcast {
                  position: absolute;
                  left: 10px;
                  top: 10px;
                  display: inline-block;
                  width: 50px;
                  height: 20px;
                  background: #FF4B3B;
                  border-radius: 100px;
                  font-size: 12px;
                  color: #FFFFFF;
                  text-align: center;
                  line-height: 20px;
                }
                .hk_bg{
                  background: #3FC399;
                }
              }

              a:hover {
                .video {
                  background: url(http://image.bitautoimg.com/yc-pc/expo-pc/special/icon-video-hover.png) 0 0 no-repeat
                }
              }

              .card_details {
                padding: 0;

                h2 {
                  height: 44px;
                  margin: 9px 0 8px;
                  font-size: 16px;
                  overflow: hidden;
                  line-height: 1.4;
                  font-weight: 700;

                  a:hover {
                    color: #FF4B3B;
                  }
                }
              }


              .photo {
                img {
                  width: 30px;
                  height: 30px;
                  border-radius: 30px;
                }

                span {
                  font-size: 12px;
                  color: #999;
                }
              }

              .card_bottom_box {
                margin-bottom: 10px;

                .card_bottom_user {
                  float: left;
                  font-size: 12px;
                  color: #999999;

                  span {
                    color: #333333;
                  }
                }

                .card_bottom_time {
                  text-align: right;
                  color: #999999;
                  margin-right: 10px;
                }
              }


            }
          }

          .main_card .card_list:nth-child(3n) {
            margin: 0 0 20px;
          }

          .main_card>div {
            display: none;
          }

          .main_card>div.active {
            display: block;
          }
        }

        .load_more {
          margin: 40px auto;
          width: 144px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          clear: both;
          font-size: 16px;
          color: #333333;
        }
      }

      .col_right_box {
        width: 320px;
        float: right;

        .brand_experts {
          position: relative;
          line-height: 50px;
          height: 50px;
          border-bottom: 2px solid #e1e1e1;
          margin-bottom: 20px;

          .brand_box {
            h2 {
              font-size: 23px;
              color: #333;
              white-space: nowrap;
              overflow: hidden;
            }

            .change {
              display: inline-block;
              position: absolute;
              right: 0;
              top: 5px;
              cursor: pointer;
              font-size: 14px;

              em {
                display: inline-block;
                width: 19px;
                height: 18px;
                background: url(http://image.bitautoimg.com/yc-pc/expo-pc/special/change.png) no-repeat;
                position: relative;
                top: 3px;
                left: -5px;
              }
            }
            .change:hover{
              color: #ff4b3b;
            }
          }
        }

        .follow_box {
          .follow_list {
            margin-bottom: 20px;
            overflow: hidden;

            .follow_list_item {
              .comment_photo {
                float: left;
                width: 50px;
                height: 50px;

                a {
                  display: block;
                  position: relative;
                }

                img {
                  width: 50px;
                  height: 50px;
                  box-shadow: 0 0 0;
                  border-radius: 25px;
                  border: 1px solid #e1e1e1;
                }
              }

              .v_infor {
                margin-left: 63px;

                .v_left {
                  float: left;

                  .name {
                    font-size: 14px;
                    color: #333;
                    font-weight: 700;
                    line-height: 20px;
                    margin: 4px 0 5px;
                  }

                  .fans {
                    font-size: 12px;
                    color: #999;
                    line-height: 16px;
                    position: relative;
                  }
                }

                .btn {
                  display: inline-block;
                  text-align: center;
                  white-space: nowrap;
                  vertical-align: middle;
                  touch-action: manipulation;
                  -webkit-user-select: none;
                  -moz-user-select: none;
                  -ms-user-select: none;
                  user-select: none;
                  border-radius: 3px;
                  background-color: #fff;
                  line-height: 26px;
                  font-size: 14px;
                  width: 58px;
                  float: right;
                  padding: 0;
                  margin-top: 12px;
                  border: 1px solid #ff4b3b;
                  color: #ff4b3b;
                }
                .btn:hover {
                  background: #ff4b3b;
                  color: #fff;
                }

                .btn_gray {
                  cursor: default;
                  color: #ccc;
                  border-color: #ccc;
                }
              }
            }
          }
        }
      }
    }
  }
}