  <!-- inject:header:html -->
  <!-- endinject -->
  <title>车展视频</title>
  <link rel="stylesheet" href="./static/css/base.css">
  <link rel="stylesheet" type="text/css" href="./static/css/autoShowVideo.css">
  </head>

  <body>
    <!-- inject:nav:html -->
    <!-- endinject -->
    <div class="main_banner"></div>
    <div class="main_nav">
      <div class="wrapper">
        <ul>
          <li><a href="/">
              车展首页
            </a></li>
          <li><a href="/autoShowLive.html">
              车展直播
            </a></li>
          <li><a href="/autoShowInfo.html">
              车展资讯
            </a></li>
          <li><a href="/yicheNum.html">
              易车号
            </a></li>
          <li><a href="/autoShowVideo.html">
              车展视频
            </a></li>
          <li><a href="/newCarParsing.html">
              新车解析
            </a></li>
          <li><a href="#">
              VR
            </a></li>
          <li><a href="/newCarShow.html">
              新车展厅
            </a></li>
          <li><a href="/highInterview.html">
              高端访谈
            </a></li>
          <li><a href="#">
              赛道日
            </a></li>
        </ul>
      </div>
    </div>
    <div class="main_body">
      <div class="wrapper">
        <!-- 内容广告开始 -->
        <div class="banner_top">
          <div class="banner clear" id="bannerObj">
            <!-- <div class="left">
              <a href="#">
                <span class="video"></span>
                <img src="http://image.bitautoimg.com/bitauto/2019/09/06/60536439-676f-4f77-9c80-042e5f98e745.png"
                  alt="">
                <div class="txt">体验新款雷克萨斯RX 450hL</div>
              </a>

            </div>
            <div class="right">
              <a href="#">
                <span class="video"></span>
                <img src="http://img2.bitautoimg.com/bitauto/2019/09/06/b761b64f-4e3a-45ac-acb2-2a8113af125b.png"
                  alt="">
                <div class="txt">体验新款雷克萨斯RX 450hL</div>
              </a>
              <a href="#">
                <span class="video"></span>
                <img src="http://img2.bitautoimg.com/bitauto/2019/09/06/b761b64f-4e3a-45ac-acb2-2a8113af125b.png"
                  alt="">
                <div class="txt">体验新款雷克萨斯RX 450hL</div>
              </a>
              <a href="#">
                <span class="video"></span>
                <img src="http://img2.bitautoimg.com/bitauto/2019/09/06/b761b64f-4e3a-45ac-acb2-2a8113af125b.png"
                  alt="">
                <div class="txt">体验新款雷克萨斯RX 450hL</div>
              </a>
              <a href="#">
                <span class="video"></span>
                <img src="http://img2.bitautoimg.com/bitauto/2019/09/06/b761b64f-4e3a-45ac-acb2-2a8113af125b.png"
                  alt="">
                <div class="txt">体验新款雷克萨斯RX 450hL</div>
              </a>
            </div> -->
          </div>
        </div>
        <!-- 内容广告结束 -->

        <!-- body start -->
        <div class="main_row_box">
          <!-- 页卡 热门推荐/全部视频 -->
          <div class="col_left_box">
            <!-- 页卡 start -->
            <div class="tabbox">
              <ul>
                <li class="active">热门推荐</li>
                <li>全部视频</li>
              </ul>
              <!-- body start -->
              <div class="main_card">
                <div class="active">
                  <div class="card_list_box clear" id="videoObj">
                  </div>
                </div>
                <!-- 　　<div class="active">
                  <div class="card_list_box clear">
                    <div class="card_list">
                      <a href="#" class="card_img">
                        <img
                          src="http://image.bitautoimg.com/bitauto/2019/09/06/965cb663-ba4f-44c2-8f45-6dbc69ff18f6.jpg"
                          alt="">
                        <em class="video"></em>
                      </a>
                      <div class="card_details">
                        <h2><a href="#">111111 宝马8系四门轿跑图解</a></h2>
                      </div>
                      <div class="author_box">
                        <div class="photo">
                          <a href="###"><img
                              src="http://pic.baa.bitautotech.com/newavatar/2018/05/16/26267296_120_8d192412-9884-476b-b22b-e592f28a8db9.jpg"></a>
                        </div>
                        <span class="photo_desc">HD说车</span>
                        <a href="#" class="guanz">关注TA</a>
                      </div>

                    </div>
                  </div>
                </div>


                <div>
                  <div class="card_list_box clear">
                    <div class="card_list">
                      <a href="#" class="card_img">
                        <img
                          src="http://image.bitautoimg.com/bitauto/2019/09/06/965cb663-ba4f-44c2-8f45-6dbc69ff18f6.jpg"
                          alt="">
                        <em class="video"></em>
                      </a>
                      <div class="card_details">
                        <h2><a href="#">222222 宝马8系四门轿跑图解</a></h2>
                      </div>
                      <div class="author_box">
                        <div class="photo">
                          <a href="###"><img
                              src="http://pic.baa.bitautotech.com/newavatar/2018/05/16/26267296_120_8d192412-9884-476b-b22b-e592f28a8db9.jpg"></a>
                        </div>
                        <span class="photo_desc">HD说车</span>
                        <a href="#" class="yiguanzhu">已关注</a>
                      </div>

                    </div>
                  </div>

                </div> -->
              </div>
              <!-- body end -->
            </div>
            <!-- 页卡 end -->
            <div class="load_more"></div>
          </div>
          <!-- 品牌专家 -->
          <div class="col_right_box">
            <div class="brand_experts">
              <div class="brand_box">
                <h2>品牌专家</h2>
                <a href="javascript:;" class="change">
                  <em></em>换一换
                </a>
              </div>
            </div>
            <!-- 列表 start -->
            <div class="follow_box clear" id="yicheObj">
            </div>
            <!-- 列表 end -->
          </div>
        </div>
        <!-- body end -->
      </div>
    </div>
    <!-- inject:footer:html -->
    <!-- endinject -->
    <!-- 内容广告模板 start -->
    <script id="banner-tpl" type="text/html">
      <div class="left">
        <a href="{{bannerListA[0].url}}" target="_blank">
          <span class="video"></span>
          <img src="{{bannerListA[0].pic1}}" alt="{{bannerListA[0].title}}">
          <div class="txt">{{bannerListA[0].title}}</div>
        </a>

      </div>
      <div class="right">
        {{each bannerListB item key}}
        <a href="{{item.url}}" target="_blank">
          <span class="video"></span>
          <img src="{{item.pic1}}" alt="{{item.title}}">
          <div class="txt">{{item.title}}</div>
        </a>
        {{/each}}
      </div>
    </script>
    <!-- 内容广告模板 end -->
    <!-- 专家列表模板 start -->
    <script id="yiche-tpl" type="text/html">
      {{each expertList item key}}
      <div class="follow_list">
        <div class="follow_list_item">
          <div class="comment_photo">
            {{if isLogin}}
                <a href="http://i.yiche.com/u{{item.uid}}" target="_blank"><img src="{{item.avatarpath}}" alt="{{item.showName}}"></a>
            {{else}}
                <a href="http://i.yiche.com" target="_blank"><img src="{{item.avatarpath}}" alt="{{item.showName}}"></a>
            {{/if}}
          </div>
          <div class="v_infor">
            <div class="v_left">
              {{if isLogin}}
                <p class="name"><a href="http://i.yiche.com/u{{item.uid}}" target="_blank">{{item.showname}}</a></p>
              {{else}}
                <p class="name"><a href="http://i.yiche.com" target="_blank">{{item.showname}}</a></p>
              {{/if}}
              <p class="fans"><span class="last">粉丝 {{item.fanscount}}</span></p>
            </div>
            {{if isLogin}}
                {{if item.followType == 0}}
                    <span><a href="###" class="btn btn_fllow" uid="{{item.uid}}">关注TA</a></span>
                {{else}}
                    <span><a href="###" class="btn btn_gray" id="unFollow">已关注</a></span>
                {{/if}}
            {{else}}
                <span><a href="http://i.yiche.com" target="_blank" class="btn btn_fllow" uid="{{item.uid}}">关注TA</a></span>
            {{/if}}
          </div>
        </div>
      </div>
      {{/each}}
    </script>
    <!-- 专家列表模板 end -->
    <!-- 视频列表模板 start -->
    <script id="video-tpl" type="text/html">
      {{each videoList item key}}
      <div class="card_list">
        <a href="{{item.playUrl}}" target="_blank" class="card_img">
          <img src="{{item.imageUrl}}" alt="{{item.title}}">
          <em class="video"></em>
        </a>
        <div class="card_details">
          <h2><a href="{{item.playUrl}}" target="_blank">{{item.title}}</a></h2>
        </div>
        <div class="author_box">
          {{if isLogin}}
            <div class="photo">
                <a href="http://i.yiche.com/u{{item.uid}}" target="_blank"><img src="{{item.userData.avatarpath}}" alt="{{item.userData.showname}}"></a>
            </div>
            <span class="photo_desc"><a href="http://i.yiche.com/u{{item.uid}}" target="_blank">{{item.userData.showname}}</a></span>
          {{else}}
            <div class="photo">
                <a href="http://i.yiche.com" target="_blank"><img src="{{item.userData.avatarpath}}" alt="{{item.userData.showname}}"></a>
            </div>
            <span class="photo_desc"><a href="http://i.yiche.com" target="_blank">{{item.userData.showname}}</a></span>
          {{/if}}

          {{if isLogin}}
              {{if item.userData.followType == 0}}
              <a href="###" class="guanz" uid="{{item.userData.uid}}">关注TA</a>
              {{else}}
              <a href="###" class="yiguanzhu" uid="{{item.userData.uid}}">已关注</a>
              {{/if}}
          {{else}}
              <a href="http://i.yiche.com" target="_blank" class="guanz" uid="{{item.userData.uid}}">关注TA</a>
          {{/if}}
          
        </div>

      </div>
      {{/each}}
    </script>
    <!-- 视频列表模板 end -->
    <script type="text/javascript" src="./assets/js/template.js" charset="utf-8"></script>
    <script type="text/javascript" src="./assets/js/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./static/js/autoShowVideo.js" charset="utf-8"></script>
  </body>

  </html>