  <!-- inject:header:html -->
  <!-- endinject -->
  <title>新车展厅</title>
  <link rel="stylesheet" type="text/css" href="./static/css/base.css">
  <link rel="stylesheet" type="text/css" href="./static/css/newCarShow.css">


  </head>

  <body>
    <!-- inject:nav:html -->
    <!-- endinject -->
    <!-- 主体广告部分开始 -->
    <div class="main_banner"></div>
    <!-- 主体广告部分结束 -->
    <!-- 主体导航开始 -->
    <div class="main_nav">
      <div class="wrapper">
        <ul>
          <li><a href="/">
              车展首页
            </a></li>
          <li><a href="/autoShowLive.html">
              车展直播
            </a></li>
          <li><a href="/autoShowInfo.html">
              车展资讯
            </a></li>
          <li><a href="/yicheNum.html">
              易车号
            </a></li>
          <li><a href="/autoShowVideo.html">
              车展视频
            </a></li>
          <li><a href="/newCarParsing.html">
              新车解析
            </a></li>
          <li><a href="#">
              VR
            </a></li>
          <li><a href="/newCarShow.html">
              新车展厅
            </a></li>
          <li><a href="/highInterview.html">
              高端访谈
            </a></li>
          <li><a href="#">
              赛道日
            </a></li>
        </ul>
      </div>
    </div>
    <!-- 主体导航结束 -->
    <!-- 主体内容开始 -->
    <div class="main_body">
      <div class="wrapper">
        <!-- 当前位置 -->
        <div class="position">
          当前位置:
          <span>易车</span> >
          <span>广州车展</span> >
          <span style="font-weight: 800;">新车展厅</span>
        </div>
        <!-- 当前位置 -->
        <!-- 搜索区域 -->
        <div class="search">
          <!-- 清空按钮 -->
          <button>清空条件</button>
          <!-- 清空按钮 -->
          <!-- 级别 -->
          <div class="level">
            <b>级别:</b>
            <span level="-1">不限</span>
            <span level="0">微型车</span>
            <span level="2">紧凑型车</span>
            <span level="1">小型车</span>
            <span level="3">中型车</span>
            <span level="4">中大型车</span>
            <span level="5">豪华车</span>
            <span level="7">SUV</span>
            <span level="6">MPV</span>
            <span level="8">跑车</span>
            <span level="1">旅行车</span>
            <span level="10">皮卡</span>
            <span level="9">微面</span>
          </div>
          <!-- 级别 -->
          <!-- 品牌 -->
          <div class="brand">
            <b>品牌:</b>
            <span class="nolimit" mab="-1">不限</span>
            <div class="up" style="display: inline-block;">
              <!-- <span>A</span>
              <span>B</span>
              <span>C</span>
              <span>D</span>
              <span>E</span>
              <span>F</span>
              <span>G</span>
              <span>H</span>
              <span>I</span>
              <span>J</span>
              <span>K</span>
              <span>L</span>
              <span>M</span>
              <span>N</span>
              <span>O</span>
              <span>P</span>
              <span>Q</span>
              <span>R</span>
              <span>S</span>
              <span>T</span>
              <span>U</span>
              <span>V</span>
              <span>W</span>
              <span>X</span>
              <span>Y</span>
              <span>Z</span> -->
            </div>

            <!-- 搜索品牌结果 -->
            <div class="search_brand">
              <!-- <span>奥迪</span>
              <span>ARCFOX</span>
              <span>爱驰</span>
              <span>艾康尼克</span> -->
            </div>
            <!-- 搜索品牌结果 -->

          </div>
          <!-- 品牌 -->
          <!-- 场馆 -->
          <div class="venue" pavilion="-1">
            <b>场馆:</b>
            <span class="nolimit" pavilion="-1">不限</span>
            <!-- <span>E2</span>
            <span>E3</span>
            <span>E4</span>
            <span>W1</span>
            <span>W2</span> -->
          </div>
          <!-- 场馆 -->
        </div>
        <!-- 搜索区域 -->
        <!-- 展示区域 -->
        <div class="carShow">
          <ul class="clear">
            <!-- <li>
              <a href="#"><img
                  src="http://image.bitautoimg.com/bitauto/2019/04/17/693512a4-7a51-4ff6-bc1a-9f4115e22df3_630_w1.png"
                  alt="">
                <strong>新车首发</strong>
              </a>
              <a href="#">奔驰 AMG GT</a>
              <p>展馆:E1</p>
              <div class="report">
                <span>车型报道<img src="http://image.bitautoimg.com/yc-pc/expo-pc/special/new-car-show-fill.png@3x.png"
                    alt=""></span>
                <div class="carreport">
                  <div class="one"><a href="#">奥迪Q5优惠高达10.38万元北京运通备份</a></div>
                  <div class="two"><a href="#">同样是30万，Q5和汉兰达怎么选？</a></div>
                  <div class="three"><a href="#">奥迪Q5优惠高达13.29万元</a></div>
                </div>
              </div>

            </li>
            <li><a href="#"><img
                  src="http://image.bitautoimg.com/bitauto/2019/04/17/693512a4-7a51-4ff6-bc1a-9f4115e22df3_630_w1.png"
                  alt=""></a>
              <a href="#">奔驰 AMG GT</a>
              <p>展馆:E1</p>
              <div class="report">
                <span>车型报道<img src="http://image.bitautoimg.com/yc-pc/expo-pc/special/new-car-show-fill.png@3x.png"
                    alt=""></span>
                <div class="carreport">
                  <div class="one"><a href="#">奥迪Q5优惠高达10.38万元北京运通备份</a></div>
                  <div class="two"><a href="#">同样是30万，Q5和汉兰达怎么选？</a></div>
                  <div class="three"><a href="#">奥迪Q5优惠高达13.29万元</a></div>
                </div>
              </div>
            </li>
            <li><a href="#"><img
                  src="http://image.bitautoimg.com/bitauto/2019/04/17/693512a4-7a51-4ff6-bc1a-9f4115e22df3_630_w1.png"
                  alt=""></a>
              <a href="#">奔驰 AMG GT</a>
              <p>展馆:E1</p>
              <div class="report">
                <span>车型报道<img src="http://image.bitautoimg.com/yc-pc/expo-pc/special/new-car-show-fill.png@3x.png"
                    alt=""></span>
                <div class="carreport">
                  <div class="one"><a href="#">奥迪Q5优惠高达10.38万元北京运通备份</a></div>
                  <div class="two"><a href="#">同样是30万，Q5和汉兰达怎么选？</a></div>
                  <div class="three"><a href="#">奥迪Q5优惠高达13.29万元</a></div>
                </div>
              </div>
            </li>
            <li><a href="#"><img
                  src="http://image.bitautoimg.com/bitauto/2019/04/17/693512a4-7a51-4ff6-bc1a-9f4115e22df3_630_w1.png"
                  alt=""></a>
              <a href="#">奔驰 AMG GT</a>
              <p>展馆:E1</p>
              <div class="report">
                <span>车型报道<img src="http://image.bitautoimg.com/yc-pc/expo-pc/special/new-car-show-fill.png@3x.png"
                    alt=""></span>
                <div class="carreport">
                  <div class="one"><a href="#">奥迪Q5优惠高达10.38万元北京运通备份</a></div>
                  <div class="two"><a href="#">同样是30万，Q5和汉兰达怎么选？</a></div>
                  <div class="three"><a href="#">奥迪Q5优惠高达13.29万元</a></div>
                </div>
              </div>
            </li>
            <li><a href="#"><img
                  src="http://image.bitautoimg.com/bitauto/2019/04/17/693512a4-7a51-4ff6-bc1a-9f4115e22df3_630_w1.png"
                  alt=""></a>
              <a href="#">奔驰 AMG GT</a>
              <p>展馆:E1</p>
              <div class="report">
                <span>车型报道<img src="http://image.bitautoimg.com/yc-pc/expo-pc/special/new-car-show-fill.png@3x.png"
                    alt=""></span>
                <div class="carreport">
                  <div class="one"><a href="#">奥迪Q5优惠高达10.38万元北京运通备份</a></div>
                  <div class="two"><a href="#">同样是30万，Q5和汉兰达怎么选？</a></div>
                  <div class="three"><a href="#">奥迪Q5优惠高达13.29万元</a></div>
                </div>
              </div>
            </li>
            <li><a href="#"><img
                  src="http://image.bitautoimg.com/bitauto/2019/04/17/693512a4-7a51-4ff6-bc1a-9f4115e22df3_630_w1.png"
                  alt=""></a>
              <a href="#">奔驰 AMG GT</a>
              <p>展馆:E1</p>
              <div class="report">
                <span>车型报道<img src="http://image.bitautoimg.com/yc-pc/expo-pc/special/new-car-show-fill.png@3x.png"
                    alt=""></span>
                <div class="carreport">
                  <div class="one"><a href="#">奥迪Q5优惠高达10.38万元北京运通备份</a></div>
                  <div class="two"><a href="#">同样是30万，Q5和汉兰达怎么选？</a></div>
                  <div class="three"><a href="#">奥迪Q5优惠高达13.29万元</a></div>
                </div>
              </div>
            </li>
            <li><a href="#"><img
                  src="http://image.bitautoimg.com/bitauto/2019/04/17/693512a4-7a51-4ff6-bc1a-9f4115e22df3_630_w1.png"
                  alt=""></a>
              <a href="#">奔驰 AMG GT</a>
              <p>展馆:E1</p>
              <div class="report">
                <span>车型报道<img src="http://image.bitautoimg.com/yc-pc/expo-pc/special/new-car-show-fill.png@3x.png"
                    alt=""></span>
                <div class="carreport">
                  <div class="one"><a href="#">奥迪Q5优惠高达10.38万元北京运通备份</a></div>
                  <div class="two"><a href="#">同样是30万，Q5和汉兰达怎么选？</a></div>
                  <div class="three"><a href="#">奥迪Q5优惠高达13.29万元</a></div>
                </div>
              </div>
            </li>
            <li><a href="#"><img
                  src="http://image.bitautoimg.com/bitauto/2019/04/17/693512a4-7a51-4ff6-bc1a-9f4115e22df3_630_w1.png"
                  alt=""></a>
              <a href="#">奔驰 AMG GT</a>
              <p>展馆:E1</p>
              <div class="report">
                <span>车型报道<img src="http://image.bitautoimg.com/yc-pc/expo-pc/special/new-car-show-fill.png@3x.png"
                    alt=""></span>
                <div class="carreport">
                  <div class="one"><a href="#">奥迪Q5优惠高达10.38万元北京运通备份</a></div>
                  <div class="two"><a href="#">同样是30万，Q5和汉兰达怎么选？</a></div>
                  <div class="three"><a href="#">奥迪Q5优惠高达13.29万元</a></div>
                </div>
              </div>
            </li> -->
          </ul>
        </div>
        <!-- 展示区域 -->
      </div>

    </div>
    <!-- 主体内容结束 -->
    <!-- inject:footer:html -->
    <!-- endinject -->
    <script id="search" type="text/html">
      {{each mabPara item key}}
      <span>{{item.spellFirst}}</span>
      {{/each}}
    </script>
    <script id="search-mab" type="text/html">
      {{each mabs item key}}
      <span mab="{{item.mabId}}">{{item.mabName}}</span>
      {{/each}}
    </script>
    <script id="search-venue" type="text/html">
      {{each pavilionPara item key}}
      <span pavilion="{{item.pavilionId}}">{{item.pavilionName}}</span>
      {{/each}}
    </script>
    <script id="carShow" type="text/html">
      {{each list item key}}
      <li>
        <a href="{{item.path?item.path:'http://image.bitautoimg.com/weixin/images/newsList/default.png'}}"
          target="_blank"><img
            src="{{item.path?item.path:'http://image.bitautoimg.com/weixin/images/newsList/default.png'}}" alt="">
          {{if item.csTag }}
          <strong>{{item.csTag}}</strong>

          {{/if}}
        </a>
        <a href="{{item.path?item.path:'http://image.bitautoimg.com/weixin/images/newsList/default.png'}}"
          target="_blank">{{item.brandName}}</a>
        <p>展馆:{{item.pavilionNames}}</p>
        <div class="report">
          <span brandId="{{item.brandId}}">车型报道<img
              src="http://image.bitautoimg.com/yc-pc/expo-pc/special/new-car-show-fill.png@3x.png" alt=""></span>
          <div class="carreport">
            <!-- <div class="one"><a href="#">奥迪Q5优惠高达10.38万元北京运通备份</a></div>
            <div class="two"><a href="#">同样是30万，Q5和汉兰达怎么选？</a></div>
            <div class="three"><a href="#">奥迪Q5优惠高达13.29万元</a></div> -->
          </div>
        </div>

      </li>
      {{/each}}
    </script>
    <script id="carShowAdd" type="text/html">
      {{each list item key}}
      <li>
        <a href="{{item.path?item.path:'http://image.bitautoimg.com/weixin/images/newsList/default.png'}}"
          target="_blank"><img
            src="{{item.path?item.path:'http://image.bitautoimg.com/weixin/images/newsList/default.png'}}" alt="">
          {{if item.csTag }}
          <strong>{{item.csTag}}</strong>

          {{/if}}
        </a>
        <a href="{{item.path?item.path:'http://image.bitautoimg.com/weixin/images/newsList/default.png'}}"
          target="_blank">{{item.brandName}}</a>
        <p>展馆:{{item.pavilionNames}}</p>
        <div class="report">
          <span brandId="{{item.brandId}}">车型报道<img
              src="http://image.bitautoimg.com/yc-pc/expo-pc/special/new-car-show-fill.png@3x.png" alt=""></span>
          <div class="carreport">
            <!-- <div class="one"><a href="#">奥迪Q5优惠高达10.38万元北京运通备份</a></div>
            <div class="two"><a href="#">同样是30万，Q5和汉兰达怎么选？</a></div>
            <div class="three"><a href="#">奥迪Q5优惠高达13.29万元</a></div> -->
          </div>
        </div>

      </li>
      {{/each}}
    </script>
    <script id="search-carreport" type="text/html">
      <div class="one"><a href="http://news.yiche.com{{list[0].url}}" target="_blank">{{list[0].title}}</a></div>
      <div class="two"><a href="http://news.yiche.com{{list[1].url}}" target="_blank">{{list[1].title}}</a></div>
      <div class="three"><a href="http://news.yiche.com{{list[2].url}}" target="_blank">{{list[2].title}}</a></div>
    </script>
    <script type="text/javascript" src="./assets/js/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./assets/js/template.js" charset="utf-8"></script>
    <script type="text/javascript" src="./static/js/newCarShow.js" charset="utf-8"></script>
    <script>

    </script>

  </body>

  </html>